ul {
  list-style: none;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-left: 156px;
  margin-right: 156px;
  flex-direction: row;
  gap: 24px;
}
.gallery-item {
  width: 360px;
  height: 200px;
}
.gallery-image {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
}
